rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function test() {
      let a = exists(/databases/$(database)/documents/path/to/resource);
      let b = existsAfter(/databases/$(database)/documents/path/to/resource);
      let c = get(/databases/$(database)/documents/path/to/resource);
      let d = get(/databases/(default)/documents/path/to/resource).data.asdf;
      let e = getAfter(/databases/$(database)/documents/path/to/resource);
      let f = getAfter(/databases/$(database)/documents/path/to/resource).data.asdf;
      return true;
    }
  }
}

rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function test() {
      let a = firestore.exists(/databases/(default)/documents/path/to/resource);
      let b = firestore.existsAfter(/databases/(default)/documents/path/to/resource);
      let c = firestore.get(/databases/(default)/documents/path/to/resource);
      let d = firestore.get(/databases/(default)/documents/path/to/resource).data.asdf;
      let e = firestore.getAfter(/databases/(default)/documents/path/to/resource);
      let f = firestore.getAfter(/databases/(default)/documents/path/to/resource).data.asdf;
      return true;
    }
  }
}
