rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function test(other) {
      let a = /databases/$(database)/documents/path/to/resource;
      let b = other['fieldname'];
      let c = other[0];
      let d = other.bind({'foo' : 'something', 'bar' : 'another'});
      let e = /databases/(default)/documents/path/to/resource;
      let f = (/databases/$(database)/documents/path/to/resource).bind({'foo' : 'something', 'bar' : 'another'});
      return true;
    }
  }
}
