rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function test(resource) {
      let a = debug(debug(resource.id) == debug('test'));
      return true;
    }
  }
}
