rules_version = '2';
service cloud.firestore {
  function test(resource) {
    let a = b'\342\202\254';
    let b = resource.data.blob;
    let c = resource.data.blob.size();
    let d = resource.data.blob.toBase64();
    let e = resource.data.blob.toHexString();
    return true;
  }
}
