rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function test() {
      let a = bool('true');
      return true;
    }
  }
}
