rules_version = '2';
service cloud.firestore {
  function test() {
    let a = hashing.crc32('asdf');
    let b = hashing.crc32c('asdf');
    let c = hashing.md5('asdf');
    let d = hashing.sha256('asdf');
    return true;
  }
}
