rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function test(resource, other) {
      let a = resource.data.geopoint.distance(other);
      let b = resource.data.geopoint.latitude();
      let c = resource.data.geopoint.longitude();
      let d = latlng.value(0, 0);
      return true;
    }
  }
}
