rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isNotAnonymous() {
      return request.auth != null && request.auth.token.firebase.sign_in_provider != 'anonymous';
    }
    match /users/{userId} {
      
    }
  }
}
