rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn(request) {
      return request.auth != null;
    }
    function isOwner(request, uid) {
      let requestingUid = request.auth.uid;
      return requestingUid == uid;
    }
    allow read: if request.auth.uid == 'god';
    match /users/{userId} {
      allow read: if isSignedIn(request);
      allow create, update: if isOwner(request, userId);
    }
    match /content/{contentId} {
      allow read: if isSignedIn(request) && resource.data.public;
      allow write: if contentId in get(path('/databases/$(database)/documents/users/$(request.auth.uid)')).data.contentIds && exists(path('/databases/(default)/documents/users/$(request.auth.uid)'));
    }
  }
}
