rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function test() {
      let a = foo.bar.baz == 'qux';
      let b = foo.bar.baz == 123;
      let c = foo.bar.rules == 'asdf';
      return true;
    }
  }
}
