rules_version = '2';
service cloud.firestore {
  function test() {
    let a = foo.bar.baz == 'qux';
    let b = foo.bar.baz == 123;
    return true;
  }
}
